@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;700&display=swap");

:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Manrope, sans-serif;
  height: 100vh;
  width: 100%;
  background-color: var(--Light-Grayish-Blue);
  padding: 0em 2em;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  height: auto;
  width: auto;
  border-radius: 1em;
  /* overflow: hidden; */
}

.draw {
  max-width: 100%;
}

.heading {
  font-size: 1.08em;
  margin-bottom: 0.7em;
  font-family: Manrope;
  font-weight: 700;
  line-height: 1.4em;
  color: var(--Very-Dark-Grayish-Blue);
  letter-spacing: 0.3px;
}

.content {
  font-size: 0.95em;
  line-height: 1.5em;
  font-family: Manrope;
  font-weight: 500;
  color: var(--Grayish-Blue);
}

.right-top {
  padding: 2em 1.9em;
}

.right-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* background-color: yellow; */
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 2em;
  display: none;
  background-color: var(--Very-Dark-Grayish-Blue);
}

.overlay > * {
  scale: 1.3;
  margin: 0 0.75em;
  cursor: pointer;
}

.share {
  font-size: 0.6em;
  color: var(--Light-Grayish-Blue);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em 1.5em;
}

.right {
  padding: 0.7em;
  background-color: var(--Light-Grayish-Blue);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.9em;
  z-index: 1;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  margin: 0em 1em;
}

.btn-overlay {
  background-color: var(--Desaturated-Dark-Blue);
}

.fill path {
  fill: white;
}

.overlay-active {
  display: block;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 2em;
  background-color: var(--Very-Dark-Grayish-Blue);
}

.name {
  color: var(--Very-Dark-Grayish-Blue);
}

.date {
  color: var(--Grayish-Blue);
  font-size: 0.9em;
}

.arrow {
  scale: 1.2;
}

.avatar {
  height: 3.5em;
  border-radius: 50%;
  cursor: pointer;
}

.overlay-desktop {
  display: none;
}

/* // 768px   // */

@media screen and (max-width: 63.8em) and (min-width: 48em) {
  body {
    font-size: 1.2em;
  }
  .container {
    width: 60%;
  }
}

/* 1024px */

@media screen and (min-width: 64em) {
  .container {
    width: 40%;
  }
}

/* 1366px */

@media screen and (min-width: 85.375em) {
  .container {
    height: auto;
    width: 60%;
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  .cont-right {
    display: grid;
    place-content: center;
  }

  .draw {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .right-bottom {
    margin-top: 0.8em;
    padding: 0;
  }

  .right {
    height: 2.5em;
    margin-right: 1.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .overlay {
    visibility: hidden;
  }

  .overlay-desktop {
    display: block;
    position: absolute;
    background-color: var(--Desaturated-Dark-Blue);
    width: fit-content;
    padding: 0.8em 1.5em;
    top: -90%;
    right: -11.5%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    visibility: hidden;
  }

  .overlay-desktop::after {
    content: "";
    position: absolute;
    display: flex;
    bottom: -15%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--Desaturated-Dark-Blue);
  }

  .overlay-desktop-active {
    visibility: visible;
  }

  .overlay-desktop > * {
    scale: 0.8;
    margin: 0 0.5em;
    cursor: pointer;
  }

  .heading {
    font-size: 1.2em;
  }

  .content {
    font-size: 0.85em;
  }

  .avatar {
    height: 2.5em;
  }

  .bio {
    font-size: 0.85em;
  }
}

/* 1920px */

@media screen and (min-width: 120em) {
  .container {
    width: 60%;
  }

  .cont-right {
    font-size: 1.4em;
  }

  .overlay-desktop {
    right: -10%;
  }
}
